
.nav-link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1F1F1F;  
}
.signup {
margin: 0 auto;
width: 127px;
height: 44px;
background: #FF6978;
border-radius: 14px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}