body, html {
    margin: 0;
    padding: 0;
}
header {
font-family: 'Plus Jakarta Sans' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #1B6BED;
}
.pagr {
    text-decoration: underline;
}
.hero {
    background-image: url(https://s3-alpha-sig.figma.com/img/3b43/b3ba/9fe8a2f8cbf05ee6d21002fe5d546eec?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HZYBNbRYnVHnaSPGG3TcSCC8cxeqHaVXHUonnfiyy2li~HfGrf3-2gYLQPdI7nNzol4IAZSFvZnJfwuCwixLsR0XGpptgTdEfk9TfxJ2XnEgFx15G7bLZx5I6VqvpMFQY4dOtjElYB56vAfAgM9PZRZtc67dgWE8xSmJIBe~XpCgCuTPDkiwV7pGugiNamtw4KhjoWIjZ7vNwgTt37zI8nJB7Tl~Wj2qLxjENhP~xV~CcAlBvjKy4dkdvOmNd02Xach9FZCTY-d~ZcnY4~zbhUMJDPnjQdJlK4UadTP7gbdZ-5lAbyA5vRlXSd2~nWbAv805Kfpzde8ek56DSUE64Q__);
    width: 100%;
    height: 931px;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1 {
font-family: 'Plus Jakarta Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 113px;
color: #FFFFFF;
}
.hero h2 {
font-family: 'Plus Jakarta Sans' sans-serif;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 45px;
color: #FFFFFF;
margin: 40px 0;
}
.hero button {
width: 215px;
height: 48px;
background: linear-gradient(180deg, #00D4E4 -40.5%, #1F59EE 97.28%);
border-radius: 24px;
font-family: 'Plus Jakarta Sans' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
border: none;
}
.hero svg {
    position: absolute; /* Pakeičiam pozicionavimą į absoliutų */
    bottom: 0; /* Nustatome, kad būtų apačioje */
    right: 0; /* Nustatome, kad būtų dešinėje */
    max-width: 100%; /* Užtikriname, kad SVG neperžengtų tėvų konteinerio */
    height: auto; /* Leiskite aukščiui prisitaikyti prie pločio */
  }

.article>svg {
    width: 20%;
}
.map {
    position: relative;
    margin: 125px auto;

}

.map h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #A6A6A6;
}
.map p{    
font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 136.19%;
color: #666666;
text-transform: uppercase;

}
.info {
font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 148.19%;
color: #888888;
margin-bottom: 99px;
}
.daugiau {
display: flex;
flex-direction: row;
align-items: flex-start;
text-align: center;
justify-content: center;
align-items: center;
padding: 15px 34px;
gap: 30px;
margin-bottom: 20px;
width: 232px;
height: 49px;
font-family: 'Open Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
background: linear-gradient(180deg, #00D4E4 -40.5%, #1F59EE 97.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border: 2px solid rgb(0, 102, 255);
border-radius: 24px;
}


.zemelapis {
display: flex;
flex-direction: row;
text-align: center;
justify-content: center;
align-items: center;
padding: 15px 30px;
gap: 10px;
width: 183px;
height: 50.31px;
border-radius: 36px;
font-family: 'Open Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
background: linear-gradient(180deg, #00D4E4 -40.5%, #1F59EE 97.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
border: 2px solid rgb(0, 102, 255);
border-radius: 24px;
}
.dvaras1 {
box-shadow: 0px 0px 20px rgba(122, 116, 116, 0.3);
background-color: white;
}
.statula {
position: absolute;
left: 500px;
width: 320px;
height: 449.29px;
filter: drop-shadow(-8px 8px 42px rgba(0, 0, 0, 0.25));
border-radius: 15.5856px;
object-fit: cover;
max-width: 100%;
max-height: auto;
top:10%;
left: 56%;
max-width: 100%;
z-index: 1;
}
.dvaras {
    width: 70%;

}
.konturai svg {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    position: absolute;
    height: auto;
    right: -16%;
    top: -10%;
    z-index:-1;
}
.hero2 {
    background-image: url(https://s3-alpha-sig.figma.com/img/fea8/1bde/d3bd0daf16f11bbd8f583b96605d33d4?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DD-jzp-p-fmO4iKswmTgK8mhCn4yErxBO9RyA3P3pgcH-yKU9eW90oLDD3iooIfJTR4UvJfLbe3rGIMGhHuPwQOkJRtVdZqu6Ti2jSigC-pgmhwvpFTR5HXqU~KZ-FowIEiIU70Pm-QBV~3gYmzcZGr8wucVqVifO3UafczsTuubMaoOnSyPlnWckjjTIkxKE1EXFwdRaa-TMAS~7tW5H6VfEkyalLqnwfIghHOAKz97MzJ2z0eILUtjrbm8-Mp9IEVmI4~SryLXj0KxxmqInHVQ3qBFD~9D2GdWQrLeZaG4IY68ZlEHcEY8YIf8Z4-MhebKfrsm9~sL86CblkgCvg__);
    height: 852px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: #94a05653;
}
.hero2>svg {
    position: relative; /* Pakeičiam pozicionavimą į absoliutų */
    bottom: 0; /* Nustatome, kad būtų apačioje */
    left: -10px; /* Nustatome, kad būtų dešinėje */
    max-width: 100%; /* Užtikriname, kad SVG neperžengtų tėvų konteinerio */
    height: auto; /* Leiskite aukščiui prisitaikyti prie pločio */
}
.statistika {
    background-color: white;
}
.statistika h1 {
font-family: 'Plus Jakarta Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: #333333;
padding-bottom: 45px;
}
.statistika p {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #888888;
}
.statistika span {
font-family: 'Plus Jakarta Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 120%;

background: linear-gradient(180deg, #00D4E4 -40.5%, #1F59EE 97.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.statistika h2 {
font-family: 'Plus Jakarta Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
color: #333333;
}

.rekomendacijos {
    position: relative; /* Svarbu, kad konteineris būtų pozicionuojamas */
  }
  
  .rekomendacijos svg {
    position: absolute; /* Užtikrina, kad SVG bus pozicionuojamas atsižvelgiant į konteinerį */
    top: 0; /* Nustatome atstumą nuo viršutinės krašto */
    right: 0; /* Nustatome atstumą nuo dešiniojo krašto */
    width: auto; /* Kad SVG neprapūstų */
    height: auto; /* Kad SVG neprapūstų */
  }
  .rekomendacijos h1 {
font-family: 'Plus Jakarta Sans'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
color: #262020;
  }
  .nuotraukos img {
    max-width: 100%;
  }
  .pilkas {
    width: 100%;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.646);
    position: relative;
    bottom: 54px;

   
  }
  .pilkas span {
    font-family: 'Plus Jakarta Sans'sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    padding-top: 16px;
    height: 100%;
    max-height: 100%;
  }
  .rekomendacijos svg:nth-child(3) {
    position: relative; /* Užtikrina, kad SVG bus pozicionuojamas atsižvelgiant į konteinerį */
    bottom: 0; /* Nustatome atstumą nuo viršutinės krašto */
    left: -12px; /* Nustatome atstumą nuo dešiniojo krašto */
    width: auto; /* Kad SVG neprapūstų */
    height: auto; /* Kad SVG neprapūstų */
  }
  footer {
height: 373px;
background: #11224D;
  }